---
import { ImagesIndex } from "../../assets/ImagesIndex"
const bg = ImagesIndex.IMG_8067
---

<section class="section-frame hero flex-all-center" style={`background-image:url(${bg})`}>
    <p class="text-xl">わたしのこと</p>
</section>


<style lang="scss">
    .hero{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
</style>