---

---

<section class="contact-section">
    <p class="text-3xl">
        連絡先
    </p>
    <p class="concept-text">
        hirorig11@gmail.com
    </p>
</section>


<style lang="scss">
    .contact-section{
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content: start;

        > * + *{
            margin-top:1rem;
        }
    }


</style>