---
import { ImagesIndex } from "../../assets/ImagesIndex"
import { ProductCard } from "../../components"
---

<section class="current-section">
    <p class="text-5xl">CurrentProduct</p>
    <a href="https://zanzo.dawn-waiting.com">
        <div class="current-section__product">
            <img class="img--sm-box" src={ImagesIndex.zanzo_logo}/>
            <p class="text-3xl">Zanzo</p>
            <p>お写真ポートフォリオ</p>
        </div>
    </a>
</section>

<style lang="scss">
    .current-section{
        padding:3rem 0;
        display: flex;
        flex-direction: column;
        align-items:center;
        gap: 1rem;

        &__product{
            text-align: center;
            transition: opacity 0.3s ease-in-out;
            cursor: pointer;
            &:hover{
                opacity: 0.6;
            }
        }
    }
</style>