---
import { SectionTitle } from "../../../components";
import video from "../../../assets/videos/rumos.mp4"
---

<section class="section-frame demo-section " id="content-5">
    <div class="demo-section__title"><SectionTitle title="5.デモ" subTitle="Demo" color="black"/></div>
<p>No Content...</p>
</section>

<style lang="scss">
    .demo-section{
        position:relative;
        display: flex;
        justify-content: center;
        align-items: center;
        &__title{
            position:absolute;
            top:0;
            left:0;
            width:100%;
        }
    }
</style>