---
import { ImagesIndex } from "../../../assets/ImagesIndex"
import { SectionTitle } from "../../../components"
---

<section class="intro"id="content-1">
    <SectionTitle color="black" title="1.導入" subTitle="Introduction" />
    <div class="intro-inner">
        <div>
            <p class="text-5xl"></p>
            <p class="concept-text">
複数人でドライブに出かける際、車内の音楽は多くの場合、運転席の人が選択する。<br/>
助手席や後部座席の人は、その選曲を受け取る立場になりやすい。<br/>
<br/>
流れている曲が参加者の好みに合えば、車内の雰囲気は自然と良くなる。<br/>
一方で、好みと異なる場合には、特に問題があるわけではなくても、<br/>
どこか退屈さを感じる時間になることがある。<br/>
<br/>
「次は何を流す？」というやり取りがあっても、<br/>
実際に選曲を担うのは結局一人に偏りがちだ。<br/>
<br/>
同じ空間で同じ時間を共有しているにもかかわらず、<br/>
音楽の体験だけは一方向的な形になりやすいという状況がある。<br/>
            </p>
        </div>
        <img class="img--lg-vertical" src={ImagesIndex.pexels}/>
    </div>
</section>

<style lang="scss">
    .intro{
        &-inner{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            gap:5rem;
        }
    }

    @media (max-width:767px) {
        .intro{
            &-inner{
                flex-direction: column;
            }
        }
    }
</style>