---
import { ImagesIndex } from "../../../assets/ImagesIndex"
import { SectionTitle } from "../../../components"
---

<section class="problem">
    <SectionTitle color="black" title="2.問題定義" subTitle="Problem definition" />
    <div class="problem-inner">
        <div>
            <p class="text-5xl"></p>
            <p class="concept-text-width">
音楽は、日常のさまざまな場面で流れています。移動中、作業中、人が集まるとき。けれど、その体験をよく見てみると、音楽は「共有されているようで、実は一方向」なことが多い。<br/><br/>

誰かが選び、他の人は、それを聴くだけ。同じ時間や空間を共有していても、音楽への関わり方には差が生まれます。<br/><br/>

本来、「何を聴くか」を選ぶ過程も、音楽体験の一部のはずです。しかし、選ぶ人と聴く人に分かれた瞬間、体験は個人のものになってしまう。<br/><br/>
さらに場所が離れると、その分断はより大きくなります。同じ音楽を聴いていても、「一緒に体験している」感覚は失われていく。<br/><br/>

私たちは考えました。音楽を、「流すもの」ではなく、「みんなで関わる体験」にできないだろうか。
            </p>
        </div>
        <img class="img--lg-vertical" src={ImagesIndex.IMG_7646}/>
    </div>
</section>

<style lang="scss">
    .problem{
        padding: 10rem 0;
        &-inner{
            display: flex;
            justify-content: space-evenly;
            flex-direction: row-reverse;
            align-items: center;
            gap:5rem;
        }
    }

    @media (max-width:767px) {
        .problem{
            &-inner{
                flex-direction: column;
            }
        }
    }
</style>