---
import "../assets/styles/index.scss";
import Footer from "./Footer.astro";
import Header from "./Header.astro";
import LoadingScreen from "../sections/LoadingScreen.astro";
const {title = "dawn",bg,color} = Astro.props;
---


<html lang = "ja">
    <head>
        <meta charset = "utf-8"/>
        <link rel="icon" type="image/svg+xml" href="https://dawn-waiting.com/static/media/dawn_cat_ani.863d6550f404cf074627.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body
  style={`background:${bg
    ? `${bg}`
    : "linear-gradient(to bottom, #0a0e27 0%, #1a1e3e 100%)"
  };
  color:${color? `${color}`: "" }`}
>
        <LoadingScreen/>
        <Header/>
        <main>
            <slot/>
        </main>
        <Footer/>

        <script>
            import { initLoadingScreenWithStages } from "../hooks/loadingScreen";
            initLoadingScreenWithStages({
                    trackImages: true,
    minDisplayTime: 2000,// プログレスバー最低表示時間
    loaderFadeDuration: 500,//ローダーフェードアウト時間
    secondProcessFadeDuration: 800,//2段階目フェードイン/アウト時間
    secondProcessDisplayTime: 2000,//2段階目の表示時間
    finalFadeDuration: 1000,//全体のフェードアウト時間(これさわってりゃなんとかなる)
        onComplete: () => {
      console.log('Loaded');
    }
            })
        </script>
    </body>
</html>

<style lang="scss">
</style>