---
const {title,subTitle,color="white"} = Astro.props;
---

<div class="section-title">
    <span class="text-4xl">
{title}
    </span>
    <span class="text-base section-title__subtitle">
        {subTitle}
    </span>
</div>

<style define:vars={{color}} lang="scss">
    .section-title{
        color:var(--color);
        display: flex;
        width:100%;
        box-sizing: border-box;
        justify-content: start;
        align-items: end;
        padding: 3rem;
        
        &__subtitle{
            border-bottom: solid var(--color) 1px;
        }
    }
</style>