<div class="section-title">
    <span class="text-4xl">
開発した作品
    </span>
    <span class="text-base section-title__subtitle">
        Product
    </span>
</div>

<style lang="scss">
    .section-title{
        display: flex;
        justify-content: start;
        align-items: end;
        padding: 3rem;
        &__subtitle{
            border-bottom: solid white 1px;
        }
    }
</style>